footer,
.footer {
  margin-top: auto;
  padding: 3rem 0 3rem;
  background-color: #0d0f11;
  min-height: 80vh;
}

footer small {
  font-size: 95%;
}

.footer-social {
  width: 35px;
  height: 35px;
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.75);
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.75);
}

footer .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-social+.footer-social {
  margin-left: 1rem;
}

.footer-social:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.25);
}

.footer-contain a {
  transition: color 0.15s ease-in-out;
}

.footer-contain a:hover {
  color: #fff !important;
}

.footer-contain form {
  display: flex;
  align-items: center;
}

.footer-contain form .input-group {
  margin: 0;
}

.footer-contain form .form-input {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 0;
}

.footer-contain form button {
  margin: 0;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: #010101;
}

#customized-btn-all span {
  display: block;
  font-size: 16px;
  transform: rotate(-25deg);
}

.frets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.frets-item {
  display: flex;
  align-items: center;
  max-width: 100%;
}
