.navi {
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0;
  position: sticky;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1909;
}

.navi.active {
  top: 0;
}

.navi-title {
  font-size: 1.2rem;
  font-family: 'Onest-Bold';
  color: #000;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navi .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

.navi-items,
.navi-item,
.navi-link {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.navi-link:has(.checkout_count) {
  position: relative;
}

.checkout_count {
  top: 20%;
  right: -80%;
  padding: 5px;
  width: 20px;
  height: 20px;
  font-size: 12px !important;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #6747C7;
  position: absolute;
  color: #fff;
}

.navi-item + .navi-item { margin-left: 1.5rem; }

.navi-link {
  color: #222;
  font-family: 'Onest-Light';
}

.navi-link:hover {
  color: #000;
}

.navi-link * {
  pointer-events: none;
  font-size: 18px;
}

.back-to {
  right: 1rem;
  bottom: 3rem;
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  background-color: #6747C7;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}

.back-to.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}