.alq-plane {
  width: 280px;
  min-width: 280px;
  max-width: 100%;
  margin: 0;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  zoom: 1.2;
  position: relative;
  z-index: 12;
  transition: box-shadow 0.25s ease-in-out, zoom 0.15s ease-in-out, padding 0.15s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, zoom 0.15s ease-in-out, transform 0.25s ease-in-out, padding 0.15s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, zoom 0.15s ease-in-out, transform 0.25s ease-in-out, padding 0.15s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, zoom 0.15s ease-in-out, transform 0.25s ease-in-out, padding 0.15s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media (max-width: 428px) {
  .alq-plane {
    zoom: 1;
    max-width: 100%;
  }
}

.alq-plane:first-of-type {
  border-color: #6747C7;
}

.alq-plane:hover {
  /*border-color: transparent;*/

  -webkit-transform: scale(1.005);
  -ms-transform: scale(1.005);
  transform: scale(1.005);
  box-shadow: 0 25px 15px rgba(0, 0, 0, 0.05);
}

.plane-absolute-flag {
  top: -10px;
  left: -2%;
  color: #fff;
  padding: 0.175rem 0.75rem;
  font-family: 'Jost-Light';
  background-color: #6747C7;
  border: 1px solid #6747C7;
  position: absolute;
  z-index: 11;
  border-radius: 0 4px 4px 0;
}

.plane-absolute-flag::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  left: -0.9px;
  bottom: -10px;
  z-index: 1;
  border-radius: 0 0 0 10px;
  background-color: #6145b0;
}

.plane-header {
  text-align: center;
}

.plane-header span:first-child {
  font-size: 18px;
}

.alq-plane small {
  font-size: 80%;
}

.plane-reduce-flag {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  border: 1px solid transparent;
  color: #6747C7;
  font-family: 'Jost-Bold';
  background-color: rgba(103, 71, 199, 0.1);
}

.plane-price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1px;
}

.plane-price span {
  font-size: 20px;
}

.plane-choose-btn {
  padding: 0.375rem 0.75rem;
  text-align: center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #6747C7;
  font-family: 'Jost-Light';
  border-radius: 0.15rem;
  transition: box-shadow 0.25s ease-in-out;
}

.plane-choose-btn:hover {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(103, 71, 199, 0.4);
}

.plane-dot {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.25);
}

.plane-dot:first-child {
  background-color: #6747C7;
}

.plane-dot+.plane-dot {
  margin-left: 5px;
}