
{{> utils/loader}}
{{> utils/product-previsualizer}}
{{> utils/cart}}
{{> utils/call}}

<nav class="navi">
  <div class="container w-100 w-md-75">
    <div class="logo">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
        fill="#6747C7">
        <path
          d="M7.008 22.914c-4.134-1.896-7.008-6.072-7.008-10.914 0-6.623 5.377-12 12-12s12 5.377 12 12c0 4.439-2.415 8.318-6.002 10.394.002-5.398.004-12.809-.002-13.685-.003-.412-.3-.709-.673-.709-1.297 0-3.215 5.17-3.883 11 1.079-.003 2.056 0 2.056 0v4.482c-1.107.337-2.28.518-3.496.518-.852 0-1.683-.089-2.484-.258v-6.096c0-.585.36-.765 1.151-1.391.594-.47 1.016-1.212.935-1.963-.231-2.121-.793-6.292-.793-6.292h-.458v5h-.835l-.166-5h-.469l-.201 5h-.836l-.144-5h-.506l-.186 5h-.836v-5h-.5s-.509 4.198-.718 6.312c-.074.741.326 1.469.907 1.935.787.63 1.147.819 1.147 1.395v5.272z" />
      </svg>
      <a href="#" class="navi-title"> Cardápio. </a>
    </div>

    <div class="navi-items ml-auto mr-4 d-none d-lg-flex" id="navi-mobile">
      <div class="navi-item">
        <a href="/" class="navi-link">Home</a>
      </div>

      <div class="navi-item">
        <a href="/restaurantes" class="navi-link">Restaurantes</a>
      </div>

      <div class="navi-item">
        <a href="/produtos" class="navi-link">Produtos</a>
      </div>

      <div class="navi-item">
        <a href="/menus" class="navi-link">Menus</a>
      </div>

      <div class="navi-item">
        <a href="/agenda" class="navi-link">
          Encomendas
        </a>
      </div>

      <div class="navi-item">
        <a href="/" class="navi-link">
          Sobre
        </a>
      </div>

      <div class="navi-item d-flex d-lg-none">
        <a href="/signin" class="navi-link">Iniciar sessão</a>
      </div>

    </div>

    <div class="navi-items ml-auto ml-lg-0">
      <div class="navi-item">
        <a href="/checkout" class="navi-link" name="open_checkout">
          <span class="bi-cart-fill"></span>
          <span class="checkout_count">0</span>
        </a>
      </div>
      <div class="navi-item">
        <a href="/search" class="navi-link">
          <span class="bi-search"></span>
        </a>
      </div>

      <div class="navi-item d-none d-lg-flex has-dropdown">
        <a href="#" class="navi-link dropdown-toggler">
          <span class="bi-person-fill"></span>
        </a>
        <div class="dropdown">
          <a href="/signin" class="navi-droplink">Iniciar sessão</a>
          <a href="#" class="navi-droplink">Criar conta</a>
          <a href="#" class="navi-droplink">Meu Restaurante</a>
          
          <span class="dropdown-separator"></span>
          
          <a href="/checkout" class="navi-droplink"> Checkout</a>
          <a href="/wish-list" class="navi-droplink"> Favoritos</a>
          
          <span class="dropdown-separator"></span>

          <a href="/create" class="navi-droplink">Criar negócio</a>
        </div>
      </div>

      <button type="button" class="navi-toggler d-flex d-lg-none">
        <span class="line"></span>
      </button>
    </div>

  </div>

</nav>


<script>
  const naviLinks = document.querySelectorAll('.navi-link');
  // 
  function open_previsualizador(item) {
    console.log(item.id);
    $('body').css('overflow', 'hidden');
    $('.alq-modal').addClass('active');
  }

  // customized range
  $(document).ready(function () {
    (function range() {
      var currentValue = parseInt($('.range-value').text());
      $('.range-plus').click(function (e) {
        currentValue += 1;
        $('.range-value').text(currentValue.toString());
      });

      $('.range-minus').click(function (e) {
        if (currentValue > 0) {
          currentValue -= 1;
          $('.range-value').text(currentValue.toString());
        }
      });
    })();

    // manage checkout popup
    $('[name="open_checkout"]').click(function (e) {
      e.preventDefault();
      $('body').css('overflow', 'hidden');
      $('.alq-cart').addClass('active');
    });

    // toggler navi
    $('.navi-toggler').click(function (e) {
      e.preventDefault();

      $(this).toggleClass('active');

      var navi_mobile = $('#navi-mobile');
      if (!(navi_mobile.height() > 0)) {
        var currentNaviH = navi_mobile.css('height', 'auto').height();
        navi_mobile.height(0);
        navi_mobile.animate({
          height: currentNaviH + 16,
        }, 300); return;
      }

      navi_mobile.animate({
        height: 0,
      }, 300);

      //console.log(isExpanded);

    });

    // Manage link

    naviLinks.forEach(link => {
      if (link.innerText.toLowerCase() == window.localStorage.getItem('navlink')) {
        link.classList.add('active')
      }
      link.addEventListener('click', function (e) {
        //e.preventDefault();
        const uri = e.target.href.split('/');
        const currentUri = uri[uri.length - 1].length == 0 ? '/' : uri[uri.length - 1];
        //alert(e.target.href)

        if (currentUri == '/') {
          window.location.href = e.target.href;
          window.localStorage.setItem('navlink', 'home');
        } else if (link.innerText.toLowerCase() == currentUri) {
          //alert(e.target.href)
          window.location.href = e.target.href;
          window.localStorage.setItem('navlink', link.innerText.toLowerCase());
        }
      });
    });

    // Open Dropdown
    $(document).click(function (e) {
      if (e.target.classList.contains('dropdown-toggler')) {
        e.preventDefault();
        $('.dropdown').toggleClass('active'); return;
      }
      $('.dropdown').removeClass('active');
    });

  });

  window.load = (function () {
    naviLinks.forEach(link => {
      var nav_link = window.localStorage.getItem('navlink');
      if (link.innerText.toLowerCase() == window.localStorage.getItem('navlink')) {
        link.classList.add('active')
      }
    });
  })();
</script>