{{> utils/loader}}
<nav class="navi">
  <div class="container w-75">

    <a href="#" class="navi-title"> Cardápio. </a>

    <div class="navi-items">
      <div class="navi-item">
        <a href="/" class="navi-link">Home</a>
      </div>

      <div class="navi-item">
        <a href="/restaurantes" class="navi-link">Restaurantes</a>
      </div>

      <div class="navi-item">
        <a href="/alimentos" class="navi-link">Alimentos</a>
      </div>

      <div class="navi-item">
        <a href="/menus" class="navi-link">Menus</a>
      </div>

      <div class="navi-item">
        <a href="/agenda" class="navi-link">Agenda</a>
      </div>

    </div>

    <div class="navi-items">
      <div class="navi-item">
        <a href="/checkout" class="navi-link">carrinho</a>
      </div>
      <div class="navi-item">
        <a href="/search" class="navi-link">pesquisa</a>
      </div>
      <div class="navi-item">
        <a href="/signin" class="navi-link has-btn">entrar</a>
      </div>
    </div>

  </div>

</nav>


<script></script>