<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/alquimist.css">
  <link rel="stylesheet" href="/css/fonts/all.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/components/cards.css">
  <link rel="stylesheet" href="/css/components/nav.css">
  <link rel="stylesheet" href="/css/components/pricing.css">
  <link rel="stylesheet" href="/css/fonts/bootstrap-icons.css">
  <script src="/js/jquery-3.3.1.min.js"></script>
</head>

<body>

  <div class="wrapper-contain">

    {{> nav/wr-navbar}}

    <div class="sliders">
      <div class="slider-item active">
        <div class="overlay"></div>
        <img src="/img/bg-2.jpg" alt="">
        <div class="slider-caption">
          <div class="container w-90 w-md-70">
            <span class="text-uppercase">Pareces com fome</span>
            <h1 class="text-uppercase">Acabe logo com isso</h1>
            <a href="" class="slider-btn">Agora</a>
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="overlay"></div>
        <img src="/img/bg-3.jpg" alt="">
        <div class="slider-caption">
          <div class="container w-90 w-md-70">
            <span class="text-uppercase">Seja um empreendedor</span>
            <h1 class="text-uppercase hd-title">Abre um restaurante online</h1>
            <a href="" class="slider-btn">Agora</a>
          </div>
        </div>
      </div>

    </div>

    <div class="section-card">
      <div class="section-card-contain">
        <div class="container w-90 w-md-70">
          <div class="row">
            <a href="javascript:void(0)" class="restau">
              <div class="overlay"></div>
              <img src="/img/bebidas.jpg" alt="">
              <div class="caption">
                <h4 class="hd-title-nb">Drink</h4>
                <small class="text-white">Disponível</small>
              </div>
            </a>
            <a href="javascript:void(0)" class="restau">
              <div class="overlay"></div>
              <img src="/img/pratos.jpg" alt="">
              <div class="caption">
                <h4 class="hd-title-nb">Food</h4>
                <small class="text-white">Disponível</small>
              </div>
            </a>
            <a href="javascript:void(0)" class="restau">
              <div class="overlay"></div>
              <img src="/img/sobremesa.jpg" alt="">
              <div class="caption">
                <h5 class="hd-title-nb">Desert</h5>
                <small class="text-white">Disponível</small>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-card my-5"></div>
    <div class="section-card my-5"></div>
    <div class="section-card my-5"></div>
    <div class="section-card my-5"></div>





    {{> we-footer}}

  </div> <!--/.wrapper-->

  {{> nav/back-to-top}}


</body>

</html>

<script src="/js/slider.js"></script>