<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/alquimist.css">
  <link rel="stylesheet" href="/css/fonts/all.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/components/cards.css">
  <link rel="stylesheet" href="/css/components/nav.css">
  <link rel="stylesheet" href="/css/components/pricing.css">
  <link rel="stylesheet" href="/css/fonts/bootstrap-icons.css">
  <script src="/js/jquery-3.3.1.min.js"></script>
</head>

<body>

  <div class="wrapper-contain">

    {{> nav/wr-navbar}}

    <div class="sliders">
      <div class="slider-item active">
        <div class="overlay"></div>
        <img src="/img/bg-2.jpg" alt="">
        <div class="slider-caption">
          <div class="container w-90 w-md-70">
            <span class="text-uppercase">Pareces com fome</span>
            <h1 class="text-uppercase">Acabe logo com isso</h1>
            <a href="" class="slider-btn">Agora</a>
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="overlay"></div>
        <img src="/img/bg-3.jpg" alt="">
        <div class="slider-caption">
          <div class="container w-90 w-md-70">
            <span class="text-uppercase">Seja um empreendedor</span>
            <h1 class="text-uppercase hd-title">Abre um restaurante online</h1>
            <a href="" class="slider-btn">Agora</a>
          </div>
        </div>
      </div>

    </div>

    <div class="section-card">
      <div class="section-card-contain">
        <div class="container w-90 w-md-70">
          <div class="row">
            <a href="javascript:void(0)" class="restau">
              <div class="overlay"></div>
              <img src="/img/bebidas.jpg" alt="">
              <div class="caption">
                <h4 class="hd-title-nb">Drink</h4>
                <small class="text-white">Disponível</small>
              </div>
            </a>
            <a href="javascript:void(0)" class="restau my-4 my-lg-0">
              <div class="overlay"></div>
              <img src="/img/pratos.jpg" alt="">
              <div class="caption">
                <h4 class="hd-title-nb">Food</h4>
                <small class="text-white">Disponível</small>
              </div>
            </a>
            <a href="javascript:void(0)" class="restau">
              <div class="overlay"></div>
              <img src="/img/sobremesa.jpg" alt="">
              <div class="caption">
                <h5 class="hd-title-nb">Desert</h5>
                <small class="text-white">Disponível</small>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-card">
      <div class="section-card-header">
        <div class="container w-90 w-md-70">
          <div class="row">
            <div class="col-md-6 col-12 text-center mx-auto">
              <span class="text-muted">as Novidades</span>
              <h5 class="hd-title">Mais Vendidos</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="section-card-contain">
        <div class="container">
          <div class="row">
            <div class="fast-card">
              <div class="fast-card-top">
                <img src="/img/top/fast-3.png" alt="">
                <div class="fast-card-options">
                  <a href="" class="fast-rbtn"> <span class="bi-heart"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-share"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-eye"></span> </a>
                </div>
                <a href="" class="fast-add">
                  <small class="bi-cart"></small>
                  <small>+ Ao carrinho</small>
                </a>
              </div>
              <div class="fast-card-contain text-center py-3">
                <small class="text-muted">fast food</small>
                <div class="ratings">
                  <small class="bi-start-fill"></small>
                </div>
                <span class="hd-title">Restaurante X-Fast</span>
                <div class="d-flex ai-center jc-center" style="font-size: 82%;">
                  <span class="hd-title colored">Kz1.500,00</span>
                  <small class="line-through">Kz2.750,00</small>
                </div>
              </div>
            </div>
            <div class="fast-card">
              <div class="fast-card-top">
                <img src="/img/top/fast-1.png" alt="">
                <div class="fast-card-options">
                  <a href="" class="fast-rbtn"> <span class="bi-heart"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-share"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-eye"></span> </a>
                </div>
                <a href="" class="fast-add">
                  <small class="bi-cart"></small>
                  <small>+ Ao carrinho</small>
                </a>
              </div>
              <div class="fast-card-contain text-center py-3">
                <small class="text-muted">fast food</small>
                <div class="ratings">
                  <small class="bi-start-fill"></small>
                </div>
                <span class="hd-title">Restaurante X-Fast</span>
                <div class="d-flex ai-center jc-center" style="font-size: 82%;">
                  <span class="hd-title colored">Kz1.500,00</span>
                  <small class="line-through">Kz2.750,00</small>
                </div>
              </div>
            </div>
            <div class="fast-card">
              <div class="fast-card-top">
                <img src="/img/top/fast-2.png" alt="">
                <div class="fast-card-options">
                  <a href="" class="fast-rbtn"> <span class="bi-heart"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-share"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-eye"></span> </a>
                </div>
                <a href="" class="fast-add">
                  <small class="bi-cart"></small>
                  <small>+ Ao carrinho</small>
                </a>
              </div>
              <div class="fast-card-contain text-center py-3">
                <small class="text-muted">fast food</small>
                <div class="ratings">
                  <small class="bi-start-fill"></small>
                </div>
                <span class="hd-title">Restaurante X-Fast</span>
                <div class="d-flex ai-center jc-center" style="font-size: 82%;">
                  <span class="hd-title colored">Kz1.500,00</span>
                  <small class="line-through">Kz2.750,00</small>
                </div>
              </div>
            </div>
            <div class="fast-card">
              <div class="fast-card-top">
                <img src="/img/top/fast-4.png" alt="">
                <div class="fast-card-options">
                  <a href="" class="fast-rbtn"> <span class="bi-heart"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-share"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-eye"></span> </a>
                </div>
                <a href="" class="fast-add">
                  <small class="bi-cart"></small>
                  <small>+ Ao carrinho</small>
                </a>
              </div>
              <div class="fast-card-contain text-center py-3">
                <small class="text-muted">fast food</small>
                <div class="ratings">
                  <small class="bi-start-fill"></small>
                </div>
                <span class="hd-title">Restaurante X-Fast</span>
                <div class="d-flex ai-center jc-center" style="font-size: 82%;">
                  <span class="hd-title colored">Kz1.500,00</span>
                  <small class="line-through">Kz2.750,00</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="fast-card">
              <div class="fast-card-top">
                <img src="/img/top/fast-3.png" alt="">
                <div class="fast-card-options">
                  <a href="" class="fast-rbtn"> <span class="bi-heart"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-share"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-eye"></span> </a>
                </div>
                <a href="" class="fast-add">
                  <small class="bi-cart"></small>
                  <small>+ Ao carrinho</small>
                </a>
              </div>
              <div class="fast-card-contain text-center py-3">
                <small class="text-muted">fast food</small>
                <div class="ratings">
                  <small class="bi-start-fill"></small>
                </div>
                <span class="hd-title">Restaurante X-Fast</span>
                <div class="d-flex ai-center jc-center" style="font-size: 82%;">
                  <span class="hd-title colored">Kz1.500,00</span>
                  <small class="line-through">Kz2.750,00</small>
                </div>
              </div>
            </div>
            <div class="fast-card">
              <div class="fast-card-top">
                <img src="/img/top/fast-1.png" alt="">
                <div class="fast-card-options">
                  <a href="" class="fast-rbtn"> <span class="bi-heart"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-share"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-eye"></span> </a>
                </div>
                <a href="" class="fast-add">
                  <small class="bi-cart"></small>
                  <small>+ Ao carrinho</small>
                </a>
              </div>
              <div class="fast-card-contain text-center py-3">
                <small class="text-muted">fast food</small>
                <div class="ratings">
                  <small class="bi-start-fill"></small>
                </div>
                <span class="hd-title">Restaurante X-Fast</span>
                <div class="d-flex ai-center jc-center" style="font-size: 82%;">
                  <span class="hd-title colored">Kz1.500,00</span>
                  <small class="line-through">Kz2.750,00</small>
                </div>
              </div>
            </div>
            <div class="fast-card">
              <div class="fast-card-top">
                <img src="/img/top/fast-2.png" alt="">
                <div class="fast-card-options">
                  <a href="" class="fast-rbtn"> <span class="bi-heart"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-share"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-eye"></span> </a>
                </div>
                <a href="" class="fast-add">
                  <small class="bi-cart"></small>
                  <small>+ Ao carrinho</small>
                </a>
              </div>
              <div class="fast-card-contain text-center py-3">
                <small class="text-muted">fast food</small>
                <div class="ratings">
                  <small class="bi-start-fill"></small>
                </div>
                <span class="hd-title">Restaurante X-Fast</span>
                <div class="d-flex ai-center jc-center" style="font-size: 82%;">
                  <span class="hd-title colored">Kz1.500,00</span>
                  <small class="line-through">Kz2.750,00</small>
                </div>
              </div>
            </div>
            <div class="fast-card">
              <div class="fast-card-top">
                <img src="/img/top/fast-4.png" alt="">
                <div class="fast-card-options">
                  <a href="" class="fast-rbtn"> <span class="bi-heart"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-share"></span> </a>
                  <a href="" class="fast-rbtn"> <span class="bi-eye"></span> </a>
                </div>
                <a href="" class="fast-add">
                  <small class="bi-cart"></small>
                  <small>+ Ao carrinho</small>
                </a>
              </div>
              <div class="fast-card-contain text-center py-3">
                <small class="text-muted">fast food</small>
                <div class="ratings">
                  <small class="bi-start-fill"></small>
                </div>
                <span class="hd-title">Restaurante X-Fast</span>
                <div class="d-flex ai-center jc-center" style="font-size: 82%;">
                  <span class="hd-title colored">Kz1.500,00</span>
                  <small class="line-through">Kz2.750,00</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-card my-5"></div>
    <div class="section-card my-5"></div>
    <div class="section-card my-5"></div>





    {{> we-footer}}

  </div> <!--/.wrapper-->

  {{> nav/back-to-top}}


</body>

</html>

<script src="/js/slider.js"></script>