<div class="alq-cart">
  <div class="alq-cart-contain">
    <div class="cart-top">
      <div class="title">
        <span class="hd-title" style="margin-bottom: -5px;">carrinho</span>
        <small class="text-muted fs-80">Estado do teu carrinho</small>
      </div>
      <button type="button" class="close-cart">&times;</button>
    </div>

    <div class="cart-contain">
      <div class="cart-products">
        <div class="product-item">
          <div class="contain-img">
            <img src="/img/top/fast-4.png" alt="">
          </div>
          <div class="product-info w-50">
            <span class="hd-title-nd">Product name</span>
            <small class="text-muted price d-block fs-80">Kz1.500,00</small>
          </div>
          <a href="" class="remove fs-80 text-black text-underline"> &minus; remover </a>
        </div>
        <div class="product-item">
          <div class="contain-img">
            <img src="/img/top/fast-1.png" alt="">
          </div>
          <div class="product-info w-50">
            <span class="hd-title-nd">Product name</span>
            <small class="text-muted price d-block fs-80">Kz1.500,00</small>
          </div>
          <a href="" class="remove fs-80 text-black text-underline"> &minus; remover </a>
        </div>
        <div class="product-item">
          <div class="contain-img">
            <img src="/img/top/fast-3.png" alt="">
          </div>
          <div class="product-info w-50">
            <span class="hd-title-nd">Product name</span>
            <small class="text-muted price d-block fs-80">Kz1.500,00</small>
          </div>
          <a href="" class="remove fs-80 text-black text-underline"> &minus; remover </a>
        </div>
      </div>

      <div class="cart-pricing mt-3 mb-4">
        <div class="cart-p-item">
          <small class="text-black">Subtotal</small>
          <small class="text-muted">1.500,00</small>
        </div>
        <div class="cart-p-item">
          <small class="text-black">Entrega</small>
          <small class="text-muted">0,00</small>
        </div>
        <div class="cart-p-item">
          <h5 class="hd-title text-black">Total (Kz)</h5>
          <span class="text-black">0,00</span>
        </div>
      </div>

      <div class="cart-options">
        <a href="" class="cart-o-btn">continuar compras &rightarrow; </a>
        <a href="" class="cart-o-btn">fazer checkout</a>
      </div>

    </div>

  </div>
</div>


<script></script>