<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/alquimist.css">
  <link rel="stylesheet" href="/css/fonts/all.css">
  <link rel="stylesheet" href="/css/fonts/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/components/login.css">
  <script src="/js/jquery-3.3.1.min.js"></script>
</head>

<body>

  <div class="wrapper">
    <div class="section-card">
      <div class="section-card-contain">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12 mx-auto">

              <div class="customized-group d-flex ai-center">
                <a href="/" class="default-btn"> <span class="bi-arrow-left"></span> </a>
              </div>
              <div class="customized-group">
                <h4 class="hd-title mx-0">Login</h4>
                <span class="d-block text-muted">Entrar com <a href="" class="text-underline text-black">Univ.
                    Sílica</a> </span>
              </div>

              <div class="v-separator mt-4 mb-5 mx-auto"></div>

              <form action="" class="__credentials" method="post">
                <div class="customized-group d-flex flex-column">
                  <div class="input-group">
                    <input type="text" name="mail" id="mail" class="customized-input" placeholder="Email">
                  </div>
                  <small class="has-error text-muted">Mensagem de erro</small>
                </div>
                <div class="customized-group d-flex flex-column">
                  <div class="input-group">
                    <input type="password" name="pass" id="pass" class="customized-input" placeholder="Password">
                    <div class="show-pass">
                      <span class="bi-eye-fill"></span>
                    </div>
                  </div>
                  <small class="has-error text-muted">Mensagem de erro</small>
                </div>
                <div class="customized-group d-flex flex-column">
                  <div class="input-group ai-center">
                    <input type="checkbox" name="remember" id="remember" class="customized-check">
                    <label for="remember" class="my-0 text-muted">Lembrar de mim</label>
                  </div>
                </div>
                <div class="customized-group d-flex flex-column">
                  <div class="input-group">
                    <button type="submit" class="customized-btn">Login</button>
                  </div>
                </div>
              </form>
              <div class="customized-group">
                <span class="d-block">Esqueceu a senha? <a href="/recover_pwd"
                    class="text-underline text-black">recupere</a> </span>
                <small class="text-muted">Fazendo isso você concorda com os nossos <a href="/terms">termos de uso</a> &
                  as nossas <a href="/policy">políticas de segurança</a>. </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</body>

</html>

<script>
  $(document).ready(function () {
    $('.show-pass').click(function () {
      $(this).find('span').toggleClass('bi-eye-slash-fill bi-eye-fill');
      $(this).prev().attr('type', function (index, oldType) {
        return oldType === 'password' ? 'text' : 'password';
      });
    });
  });
</script>