<footer class="footer-4all">
  <div class="container w-75">
    <div class="row">
      <div class="col-lg-5">
        <div class="footer-header">
          <h5 class="hd-title text-white">Cardápio</h5>
          <span class="text-muted d-block mt-2 line-height-1">Fornecedor de bons pratos, & conector de grandes
            empreendedores.</span>
        </div>
        <div class="footer-contain mt-4 d-flex ai-center">
          <a href="" class="footer-social"> <span class="bi-facebook"></span> </a>
          <a href="" class="footer-social"> G </a>
          <a href="" class="footer-social"> in </a>
        </div>

        <div class="footer-contain mt-4 d-flex flex-column text-muted">
          <span>Av. Dr. Agostinho Neto | Bº Azul</span>
          <span>&phone; +244 933 680 370 | suporte@silica.ao</span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-header">
          <span class="hd-title-nb text-white">Softwares</span>
        </div>
        <div class="footer-contain d-flex mt-2 flex-column">
          <a href="" class="d-block mt-1 text-muted">&dbkarow; Qme</a>
          <a href="" class="d-block mt-1 text-muted">&dbkarow; Universo Sílica</a>
          <a href="" class="d-block mt-1 text-muted">&dbkarow; Express</a>
        </div>
        <div class="footer-header mt-3">
          <span class="hd-title-nb text-white">Newsletters</span>
        </div>
        <div class="footer-contain d-flex mt-2 flex-column">
          <form action="" method="post">
            <div class="input-group">
              <input type="text" class="form-input" placeholder="E-mail" required>
            </div>
            <button type="submit" class="btn">Enviar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-5"></div>
    <div class="row mt-5">
      <div class="col-12">
        <span class="text-white">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Todos os direitos reservados | Patenteado por: <a href="">univ silica</a> <br> Design feito com &hearts; por:
          <a href="tel: 9xx xxx xxx" class="text-muted text-underline">Sienekib</a>
        </span>
      </div>
    </div>
  </div>
</footer>