<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/alquimist.css">
  <link rel="stylesheet" href="/css/fonts/all.css">
  <link rel="stylesheet" href="/css/fonts/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/components/login.css">
  <script src="/js/jquery-3.3.1.min.js"></script>
</head>

<body>

  <div class="wrapper">
    <div class="section-card">
      <div class="section-card-contain">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
              <div class="customized-group d-flex flex-column w-100">
                <a href="/signin" class="default-btn"> <span class="bi bi-arrow-left"></span> </a>
                <h4 class="hd-title">Termos de uso</h4>
                <span class="text-muted">Ultima actualização: 03 de Jan 2024</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>